<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/settings" method="post">
        Contraseña:<input type="text" name="password">
        Nombre real:<input type="text" name="realName" th:value="${realName}">
        Apellidos:<input type="text" name="surname" th:value="${surname}">
        <input type="submit" value="Cambia">
    </form>
    <a href="/objects">
        <input type="button" value="Objects">
    </a>
</body>
</html>