<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<form action="/signup" method="post">
    <label>Usuario:</label><input type="text" name="user"><br>
    <label>Contraseña:</label><input type="text" name="password"><br>
    <label>Nombre real:</label><input type="text" name="realName"><br>
    <label>Apellidos:</label><input type="text" name="surname"><br>
    <h1 th:text="${errormessage}"></h1>
    <input type="submit" value="register">
</form>
</body>
</html>